# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su

/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/configs
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/platform-energymicro-efm32gg-dk3750
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/platforms
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/projectroot
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/rules
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/src
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/selected_toolchain
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/tests
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/selected_platformconfig
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/selected_ptxconfig
/EX3/TDT4258/ex3/ex3-support/OSELAS.BSP-EnergyMicro-Gecko/README
